.toggleIcon--modified {
  color: #9d9d9d;
}
.text--capital {
  text-transform: capitalize;
}
.navImg {
  max-height: 40px;
  max-width: 80px;
  margin-top: 5px;
}
.listImg {
  max-width: 80px;
  max-height: 80px;
}
.thumbnail {
  margin-bottom: 0 !important;
}
.media {
  margin-top: 0 !important;
}
.photoImg {
  max-width: 304px;
  max-height: 136px;
}
